@page 
@model WebApplication1.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit - @Model.Employee.Name</h2>
<form method="post">
    <input asp-for="Employee.Id" type="hidden"/>
    <input type="text" asp-for="Employee.Name"/>
    <button type="submit" asp-route-id="@Model.Employee.Id">Save</button>
</form>

