@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
          
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
            <tr>
                <td><input type="hidden" asp-for="@employee.EmpId" />@employee.EmpId</td>
                <td>@employee.Name</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            }

        </tbody>
    </table>
    <a asp-route="./Create">Create</a>
</form>
